#footer {
  background: $mauve-300;

  .navbar {
    display: flex;
    flex-direction: column-reverse;

    .navbar-brand {
      margin-bottom: 1.5rem;
      p {
        color: $sage-700;
      }
    }

    .page_links {
      flex-direction: column;
      width: 100%;
      margin-bottom: 1.5rem;
      li {
        margin-left: 1.5rem;
      }
      a {
        color: $sage-700;
        transition: color .2s ease;
        &:hover {
          color: $sage-900;
        }
      }
    }
  }

  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
    .navbar {
      flex-direction: row;

      .navbar-brand {
        margin-bottom: unset;
      }
      .page_links {
        width: unset;
        flex-direction: row;
        margin-bottom: 0;
        li {
          margin: 0 3rem;
        }
      }
    }
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
}
